.modal-container {
    background-color: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000);
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 8px;
    .modal-header{ 
        padding: 22px;
        height: 20px;
    }
    .modal-body{
        margin-top: 0px;
    }
}
.modal-confirm{    
    position: fixed;
    top: 10%;
    left: 35%;
    right: 35%;
}
.modal-notif.mobile{    
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    width: auto;
}
.modal-container-side {
    background-color: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000);
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    width: 100%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-width: 375px;
    .modal-header{ 
        padding: 22px;
        height: 34px;     
        border-bottom: 1px solid #e4e9f2;   
    }
    .modal-body{
        // margin-top: 20px;
    }
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
    flex: 0 auto;   
}
.modal-header.shade{    
    box-shadow: 1px 0 20px 0 rgba(0,0,0,.2);
}
.modal-title{
    align-items: center;
    display: flex;
    @include roboto-20-semibold;
    
}
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
    flex: 0 auto;
    border-bottom: 1px solid #e4e9f2;box-shadow: 1px 0 20px 0 rgba(0,0,0,.2);
    padding: 15px;
}
.modal-body{
    display: block;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}